$TTL	604800
@	IN	SOA	exo-industries.xyz. admin.exo-industries.xyz. (
			2023060601	; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
@	IN	NS	exo-industries.xyz.
200	IN	PTR	exo-industries.xyz.
