server {
        listen 80;
	server_name glpi.exo-industries.xyz;

        location / {
		return 301 https://glpi.exo-industries.xyz;
	}
}

server {
	listen 443 ssl http2;
	server_name glpi.exo-industries.xyz;
	root /srv/glpi;

	ssl_certificate /etc/ssl/certs/glpi.exo-industries.xyz.crt;
	ssl_certificate_key /etc/ssl/private/glpi.exo-industries.xyz.key;
}
