options {
	directory "/var/cache/bind";
	dnssec-validation auto;
	listen-on-v6 { none; };
	listen-on { 192.168.10.201; };
	allow-query { 192.168.10.0/24; };
	allow-recursion { 192.168.10.0/24; };
	allow-notify { 192.168.10.200; key dns1-dns2.; };
	allow-update { 192.168.10.200; key dns1-dns2.; };
	also-notify { 192.168.10.200; };
	recursion yes;
};
